
<h1 mat-dialog-title>{{'Blast emails' | translate}} to {{getRecipients()}} recipients</h1>

<div mat-dialog-content>

  <div>
    <strong>{{email?.title}}</strong>
  </div>

  <div class="content">
    <div [innerHTML]="html"></div>
  </div>

</div>

<div mat-dialog-actions class="right-aligned">

  <mat-form-field appearance="outline" class="smaller">
    <mat-label>Segmentation</mat-label>
    <mat-select [(ngModel)]="segmentation">
      <mat-option [value]="null">No segmentation [{{total}}] recipients</mat-option>
      <mat-option *ngFor="let idx of sources" [value]="idx.source">{{idx.source}} [{{idx.count}} recipients]</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    (click)="blast()">
    Send
  </button>

</div>