<form [formGroup]="form">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>

    <formly-form [form]="form" [fields]="data.fields" [model]="model"></formly-form>

</div>

  <div mat-dialog-actions>

    <div class="right-aligned">

      <button 
        mat-raised-button
        color="primary"
        [mat-dialog-close]="model"
        type="submit">{{'Save' | translate}}</button>

      <button
        mat-button
        [mat-dialog-close]="null">{{'Cancel' | translate}}</button>

    </div>

  </div>
</form>
