<form>
  <h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'New') | translate}} {{'activity' | translate}}</h1>
  <div mat-dialog-content>

    <app-magic-username-lookup
      *ngIf="canEditColumn('username')"
      [model]="data.entity"
      field="username"
      class="entity-edit-field-very-narrow"
      (change)="changed('username')">
    </app-magic-username-lookup>

    <app-magic-selector
      *ngIf="canEditColumn('type')"
      [model]="data.entity"
      field="type"
      key="type"
      value="type"
      [placeholder]="'Type' | translate"
      class="entity-edit-field-very-narrow"
      (change)="changed('type')"
      [getItems]="service.aista_crm_activity_types.read({limit:-1})">
    </app-magic-selector>

    <app-magic-autocomplete
      *ngIf="canEditColumn('contact_id')"
      [model]="data.entity"
      field="contact_id"
      key="contact_id"
      table="contacts"
      value="name"
      [placeholder]="'Contact' | translate"
      class="entity-edit-field-very-narrow"
      (change)="changed('contact_id')"
      [getItems]="service.aista_crm_contacts">
    </app-magic-autocomplete>

    <mat-form-field
      *ngIf="canEditColumn('due')"
      class="entity-edit-field-very-narrow"
      appearance="outline">
      <mat-label>{{'Due' | translate}}</mat-label>
      <input
        matInput
        name="due"
        (change)="changed('due')"
        [owlDateTime]="pickerdue"
        [(ngModel)]="data.entity.due"
        autocomplete="off">
      <owl-date-time
        #pickerdue
        (afterPickerClosed)="changed('due')"></owl-date-time>
      <mat-icon
        [owlDateTimeTrigger]="pickerdue"
        matSuffix
        role="button"
        class="button-icon"
        matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('description')"
      class="entity-edit-field-wide"
      appearance="outline">
      <mat-label>{{'Description' | translate}}</mat-label>
      <textarea
        matInput
        name="description"
        (change)="changed('description')"
        [(ngModel)]="data.entity.description"
        rows="10">
      </textarea>
    </mat-form-field>

</div>

  <div mat-dialog-actions>

    <div class="right-aligned">

      <mat-slide-toggle
        *ngIf="canEditColumn('done')"
        name="done"
        (change)="changed('done')"
        [(ngModel)]="data.entity.done">Done</mat-slide-toggle>

      <button 
        mat-raised-button
        [disabled]="!canSave()"
        color="primary"
        type="submit"
        (click)="upsert()">{{'Save' | translate}}</button>

      <button
        mat-button
        (click)="close(null)">{{'Cancel' | translate}}</button>

    </div>

  </div>
</form>
