<form>
  <h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'Create') | translate}} {{'Kpi' | translate}}</h1>
  <div mat-dialog-content>

      <mat-form-field
      *ngIf="canEditColumn('name')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'name' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="name"
        (change)="changed('name')"
        [(ngModel)]="data.entity.name"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('type')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'type' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="type"
        (change)="changed('type')"
        [(ngModel)]="data.entity.type"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('hyperlambda')"
      class="entity-edit-field-wide"
      appearance="outline">
      <mat-label>{{'hyperlambda' | translate}}</mat-label>
      <textarea
        matInput
        name="hyperlambda"
        (change)="changed('hyperlambda')"
        [(ngModel)]="data.entity.hyperlambda"
        rows="10">
      </textarea>
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('kpi_id')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'kpi_id' | translate}}</mat-label>
      <input
        matInput
        type="number"
        step="1"
        name="kpi_id"
        (change)="changed('kpi_id')"
        [(ngModel)]="data.entity.kpi_id"
        autocomplete="off">
    </mat-form-field>

</div>

  <div mat-dialog-actions>

    <div class="right-aligned">

      <button 
        mat-raised-button
        color="primary"
        type="submit"
        (click)="upsert()">{{'Save' | translate}}</button>

      <button
        mat-button
        (click)="close(null)">{{'Cancel' | translate}}</button>

    </div>

  </div>
</form>
