<div class="container">
  <mat-card>
    <mat-card-content>
      <h1>
        <mat-card-title translate>APP_NAME</mat-card-title>
      </h1>

      <div *ngIf="kpiValues && kpiValues.length > 0" class="kpi-entities">
        <div *ngFor="let idx of kpiValues" class="kpi">
          <div
            echarts
            [options]="idx"
            [theme]="theme">
          </div>
        </div>
      </div>
      <div class="version">
        <mat-icon>code</mat-icon>
        <span translate>Version</span> {{ version }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
