<div class="container">
  <div class="kpi-entities">
    <mat-card *ngFor="let idx of kpiValues" class="kpi">
      <mat-card-content>

        <div
          *ngIf="idx.isChart"
          class="chart"
          echarts
          [options]="idx"
          [theme]="theme">
        </div>

        <div *ngIf="!idx.isChart" class="kpi_table">
          <h2>{{idx.title}}</h2>
          <small>{{idx.subtext}}</small>
          <table>
            <tr>
              <th *ngFor="let header of idx.columns">{{header}}</th>
            </tr>
            <tr *ngFor="let row of idx.rows">
              <td *ngFor="let idxInner of idx.columns">
                {{idxInner === 'created' || idxInner === 'due' ? (row[idxInner] | since) : row[idxInner]}}
              </td>
            </tr>
          </table>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
