
.blaster {
  padding: 1rem;

  .templates {
    width: 100%;
  }
  .title {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .right-aligned {
    text-align: right;
  }
  .wide-button {
    width: 150px;
  }
}
